Lovable Appointment Webhook.json
{
  "name": "Lovable Appointment Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dr-strange-appointment",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "4099d96c-ee82-4728-bb1c-72d60d586835",
      "name": "Webhook",
      "webhookId": "71bcf9ca-e187-4e81-bf4a-ef92bb745f14"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "7c4d493f-a534-46c7-a2b1-3d6a9e6e833b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sendTo": "lakshitmalhotra383@gmail.com\n",
        "subject": "=🧙‍♂️ Appointment Confirmed with Dr. Strange",
        "message": "=Hello {{$json.name}},  Your appointment with Dr. Strange has been confirmed ✅  📅 Date: {{$json.date}} ⏰ Time: {{$json.time}}  Thank you for booking. Stay healthy 🩺✨",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "a69b7026-9b65-4f67-9625-29cca1f80f7b",
      "name": "Send a message",
      "webhookId": "5f0f9b58-d915-4d1a-b857-94f526530ab8",
      "credentials": {
        "gmailOAuth2": {
          "id": "6ss7JvOnDigPteDF",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "14edffe1-0e5c-4746-b0ca-2413025a433d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "46a0a30200b2676b86788872a9d8797248b8931d322255a214bd7b0effbe1f98"
  },
  "id": "a44ne8PTnu9h1faA-kEEu",
  "tags": []
}